:root {
    /* Fundo */
    --background-color: #1e1e1e;
    --container-color: #2a2a2a;

    /* Texto */
    --text-primary: #ffffff;
    --text-secondary: #bdbdbd;

    /* Bordas e sombras */
    --border-color: #3a3a3a;
    --shadow-color: rgba(0, 0, 0, 0.3);

    /* Botões */
    --primary-button: #3498db;
    --primary-button-hover: #1c89d6;
    --secondary-button: #2ecc71;
    --secondary-button-hover: #0db157;
}
