/* ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttonAdd {
    padding: 8px 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonAdd:hover {
    background-color: #218838;
}

.buttonDelete{
    margin-left: 10px;
    padding: 4px 8px;
    color: red;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonDelete:hover{
    color: #fff;
    background-color: brown;
} */